In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
boston = load_boston()

In [8]:
X = pd.DataFrame(boston.data, columns = boston.feature_names)
y = boston.target

In [9]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
X.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [27]:
def get_stats(model,X_train,X_test,y_train,y_test):
    model.fit(X_train,y_train)
    r2_train = model.score(X_train,y_train)
    r2_test = model.score(X_test,y_test)
    train_rmse = np.sqrt(mean_squared_error(y_train,model.predict(X_train)))
    test_rmse = np.sqrt(mean_squared_error(y_test,model.predict(X_test)))
    print ("Train R-squared: ",r2_train)
    print ("Train RMSE: ",train_rmse)
    print ("Test R-squared: ",r2_test)
    print ("Test RMSE: ",test_rmse)
    return model

# Linear Regressiom

In [12]:
from sklearn.linear_model import LinearRegression

In [28]:
regressor1 = get_stats(LinearRegression(),X_train,X_test,y_train,y_test)

Train R-squared:  0.7581489894486828
Train RMSE:  4.536286662825899
Test R-squared:  0.6884511869678527
Test RMSE:  5.077345100231775

# Random Forest Regressor

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
regressor2 = get_stats(RandomForestRegressor(),X_train,X_test,y_train,y_test)

Train R-squared:  0.9763861945433477
Train RMSE:  1.4174558104492239
Test R-squared:  0.8769352624654316
Test RMSE:  3.191100244388579